[user]
	name = Errol Lloyd
	email = errolkjlloyd@gmail.com
[color]
	ui = auto
[core]
#	editor = vim
	editor = subl -n -w
	excludesfile = /Users/errollloyd/.gitignore_global
	ui = auto
#	delta requires 24bit color terminal ... ugh (installed with brew)
#	pager = delta --light
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	st = status --porcelain
	root = rev-parse --show-toplevel
	lg = log --pretty=format:'%C(yellow)%h %Cred%ad %C(90)%an%Cgreen%d %Creset%s' --date=short
	lga = log --pretty=format:'%C(yellow)%h %Cred%ad %C(90)%an%Cgreen%d %Creset%s' --date=short --all --graph
	aliases = config --global --get-regexp alias
	alias = "!sh -c 'git config --global alias.\"$1\" \"$2\"' -"
	qc = commit -a -m 'whatever, get it done'
	# Add word diff highlighting to interactive and patch adding
	addwp = -c interactive.diffFilter=\"git diff --color-words\" add -p
	addwi = -c interactive.diffFilter=\"git diff --color-words\" add -i
	diffw = diff --word-diff=color
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = vimdiff
[commit]
	template = /Users/errollloyd/.stCommitMsg
